.vscode/**
.vscode-test/**
out/**
node_modules/**
.npm_global/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
tasks/
.husky/
.prettierignore/
shell.nix
.npm_global/